<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Catalogo</a>

    <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/productos']" routerLinkActive="active">Productos</a>
            </li>
            <li class="nav-item" *ngIf="auth.registrado">
                <a class="nav-link" [routerLink]="['/perfil']" routerLinkActive="active">Perfil</a>
            </li>
        </ul>
        <span class="navbar-text">
            
            <button 
            *ngIf="!auth.registrado"
            (click)='login()'
            type="button" class="btn btn-primary">Log in</button>

            <button 
            *ngIf="auth.registrado"
            (click)='logout()'
            type="button" 
            class="btn btn-danger">Log out</button>

            
        </span>
    </div>
</nav>