<div class="container mt-5">
    <form (ngSubmit)='enviar( f )' #f='ngForm' novalidate>
        <div class="col-3 mx-auto">
            <div class="form-row">
                <div class="form-group col">
                    <label for="usuario">Usuario</label>
                    <input class="form-control" 
                        type="text" 
                        name="usuario"
                        [(ngModel)]="usuario.nombre"
                        required
                        minlength='5'
                        aria-describedby="emailHelp">
                    <div 
                    *ngIf="f.submitted && f.controls.usuario.errors"
                    class="invalid">
                        Por favor escribe un nombre!
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col">
                    <label for="password">Contraseña</label>
                    <input 
                        type="password" 
                        name='password'
                        minlength='6'
                        required
                        [(ngModel)]="usuario.password"
                        class="form-control">
                    <div 
                    *ngIf="f.submitted && f.controls.password.errors"
                        class="invalid">
                        Por favor escribe una contraseña!
                    </div>
                </div>
            </div>
            <div class="form-group form-check">
                <input type="checkbox" class="form-check-input" id="exampleCheck1">
                <label class="form-check-label ml-1" for="exampleCheck1">Recordar usuario</label>
            </div>
            <button class="btn btn-primary w-100"
                type="submit">Verificar</button>
        </div>
    </form>
</div>