<div class="col-7 mx-auto" *ngIf="!loading">
    <div class="card mb-3" style="max-width: 540px;">
        <div class="row no-gutters">
            <div class="col-md-4">
                <img [src]='admin.img' class="card-img" [alt]='admin.nombre'>
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title"> <strong>{{ admin.nombre }}</strong> </h5>
                    <p class="card-text"> <strong>Cargo:</strong> {{ admin.cargo }} </p>
                    <p class="card-text"><small class="text-muted"> <strong>Fecha de ingreso:</strong> {{ admin.ingreso }}</small></p>
                </div>
            </div>
        </div>
    </div>
    
</div>

<div *ngIf="loading" class="col-7 mx-auto alert alert-info text-center" role="alert">
    <h4 class="alert-heading">Cargando...</h4>
    <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
        <span class="sr-only">Loading...</span>
    </div>
    <p class="mb-0">
        Espere por favor.
    </p>
</div>